<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
    <persistence-unit name="RestaurantPU" transaction-type="JTA">
        <jta-data-source>jdbc/RestaurantDB</jta-data-source>
        <class>com.example.entities.Category</class>
        <class>com.example.entities.MenuItem</class>
        <class>com.example.entities.User</class>
        <class>com.example.entities.Order</class>
        <class>com.example.entities.OrderItem</class>
        <properties>
            <property name="javax.persistence.schema-generation.database.action" value="create" />
        </properties>
    </persistence-unit>
</persistence>